  <header>
    <nav id="nav-bar">
      <!-- <a href="/" id="nav-bar-logo-a">
        <img src="/images/mbLogo.png" id="nav-bar-logo" alt="MockBusters logo">
      </a> -->
      <h1>Mock Busters</h1>
      <div id="nav-links">
        <a href="/">Home </a>
        <a href="/login">Login/Signup</a>
        <a href="https://github.com/JPbooya/mock-busters">GIT LINK</a>
        <a href="/billing" >DEBUG-Billing</a>
        <a href="/admin" target="_blank">DEBUG-admin</a>
      </div>
    </nav>
  </header>