<a id="movie-card-a" href="/movie-info" target="_blank">
    <figure id="movie-card">
        <img src=<%= `${gridElements.imgString}` %> class="hp-logo-image" alt="MockBusters logo image">
        <figcaption>
            "Movie name + Info"
        </figcaption>
    </figure>
</a>