<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Favicon -->
  <link rel="icon" href="images/mbLogo.png">
  <title>MockBusters</title>
  <!-- Styles -->
  <link rel="stylesheet" href="/styles/styles.css">
</head>


<body>

<%- include ('../views/partials/header.ejs') %>
  <main>
    <section id="hp-section">
      <img src="/images/mbLogo.png" id="hp-logo-image" alt="MockBusters logo image">

      <p id="about-us">
          MockBusters is a modern take on the classic video rental experience. 
          Inspired by the days of wandering the aisles at your local video store,
          MockBusters lets you browse a collection of movies, pick your favorites, 
          and rent them with the option of having them delivered right to your door.
          Whether you're planning a movie night, revisiting an old favorite, or discovering 
          something new, MockBusters brings a little bit of that nostalgic 
          video store magic back—just with a lot more convenience.

      </p>

    </section>
      <div id="hp-arrow-fig">
          <img src="/images/arrowDown.webp" alt="arrow-image">
          <h2> VIEW MOVIES</h2>
          <img src="/images/arrowDown.webp" alt="arrow-image">
      </div>
      
      <nav id="sort-genre">
        <span>SORT BY GENRE: </span>
        
        <a <% if(sortGenre === "all"){%> style="color: yellow;" <%}%> ref="/?sortGenre=all"> all </a>
        <a <% if(sortGenre === "fantasy"){%> style="color: yellow;" <%}%>href="/?sortGenre=fantasy"> fantasy </a>
        <a <% if(sortGenre === "family"){%> style="color: yellow;" <%}%>href="/?sortGenre=family"> family </a>
        <a <% if(sortGenre === "sci-fi"){%> style="color: yellow;" <%}%>href="/?sortGenre=sci-fi"> sci-fi </a>
        <a <% if(sortGenre === "thriller"){%> style="color: yellow;" <%}%>href="/?sortGenre=thriller"> thriller </a>

      </nav>
    <!-- <p>genre: <%= sortGenre %></p> -->
    <section id="movies-section">
      <% for(let i = 0; i < Object.entries(moviesData).length; i++) {%>
        <% if(moviesData[i].movieGenre === sortGenre || sortGenre === "all") { %>
        <%- include ('../views/partials/movieCard.ejs', {movie: moviesData[i], index: i}) %>
      <%}}%>
    </section>
  </main>
  <footer>
  </footer>
</body>
</html>