<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Favicon -->
  <link rel="icon" href="images/mbLogo.png">
  <title>MockBusters</title>
  <!-- Styles -->
  <link rel="stylesheet" href="/styles/styles.css">
</head>


<body>


  <header>
    <nav id="nav-bar">
      <img src="images/mbLogo.png" alt="MB logo">
      <div class="nav-links">
        <a href="/">Home </a>
        <a href="">Login/Signup</a>
      </div>
    </nav>
  </header>
  <!-- <header>
    <nav id="nav-bar">
      <button type="button">HomePage</button> 
      <button type="button">Login/Signup</button>
    </nav>
  </header> -->

  <main>
    <section id="hp-section">
      <img src="/images/mbLogo.png" id="hp-logo-image" alt="MockBusters logo image">

      <p id="about-us">
      What is Lorem Ipsum?
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
      when an unknown printer took a galley of type and scrambled it to make a type specimen
      book. It has survived not only five centuries, but also the leap into electronic 
      typesetting, remaining essentially unchanged. It was popularised in the 1960s with 
      the release of Letraset sheets containing Lorem Ipsum passages, 
      and more recently with desktop publishing software like Aldus PageMaker

      </p>

      <div id="hp-arrow-fig">
          <img src="/images/arrowDown.png" alt="arrow-image">
          <h2> Movies</h2>
          <img src="/images/arrowDown.png" alt="arrow-image">
      </div>
    </section>

    <section id="movies-section">
      <% for(let i = 0; i < gridElements.amount; i++) {%>
      <img src=<%= `${gridElements.imgString}` %> class="hp-logo-image" alt="MockBusters logo image">
      <%}%>
    </section>
  </main>
  <footer>
    <a href="https://github.com/JPbooya/mock-busters">GIT LINK</a>
  </footer>

</body>
</html>