:root{
    --page-background-col: rgb(255, 254, 245);
    --light-border-col: rgba(245, 245, 245, 0.85);
    --transparent-dark-bg-col: rgba(0, 0, 0, 0.75);
    --nav-background-col:  rgb(11, 0, 113);
    --dark-faded-font-col: rgba(56, 56, 56, 0.85);
    --light-font-col: rgb(255, 255, 255);
    --error-col: darkred;
    --movie-card-button: rgb(36, 36, 36);
    --mb-yellow-col:  rgb(255, 232, 59);
    --font-col:rgba(0, 0, 0, 0.85);
    --movies-backdrop-col: rgba(255, 255, 255, 0.815);
}

body {
    min-width:400px;
    color: var(--font-col);
}
main{
    padding: 1rem;
}
label {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}
html{
    overflow-x: hidden;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background:linear-gradient(var(--page-background-col), antiquewhite);
}
body{
    margin: 0;
}
*{
    box-sizing: border-box;
    border-radius: .5rem;
}

#login-section {
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 3rem;
}

#login-container {
  border-radius: 1.5rem;
  background: rgba(255, 255, 255, 0.875);
  padding: 2rem;
  width: 100%;
  max-width: 850px;
  min-height: 650px;
  box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.4); /* even more lift */
  font-size: 2rem;
}

#login-container input:focus {
  outline: 2px solid var(--nav-background-col); /* blue outline on click */
  border-color: var(--nav-background-col);
}

#login-container input {
    border: 1px solid lightgray !important;
}

#login-button {
  display: block;
  margin: 0 auto;
  width: 50%;
  padding: .75rem;
  background: var(--nav-background-col);
  color: var(--light-font-col);
  border: .125rem solid var(--mb-yellow-col);
  font-size: 1.2rem;
  cursor: pointer;
}

#login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

#login-form div {
    width: 60%;
    margin-bottom: 8rem;
}

#hp-section{
    min-height: 80vh;
    padding: 5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    grid-template-areas:
    "logo au"
}
#movies-section{
    background: var(--movies-backdrop-col);
    box-shadow: -.1rem .1rem .25rem rgba(0, 0, 0, 0.49);
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
    padding: 1rem;
    /* grid-auto-flow: dense;  */
    justify-items: stretch;
    align-items: stretch;
}
#about-us{
    grid-area: au;
    font-size: clamp(1rem, 1.5vw, 2rem);
    padding: .25rem;
    line-height: 1.5;
    font-style: italic;
    color: var(--dark-faded-font-col);
}
#hp-logo-image{
    grid-area: logo; 
}
#hp-arrow-fig{
    animation: banner-anim 3.5s infinite;
    grid-area: fig;
    display: flex;
    position: sticky;
    bottom: 0;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    opacity: 90%;
}
#hp-arrow-fig h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    justify-content: center;
    align-content: center;
    font-size: clamp(2rem, 3vw, 3rem);
}
button:hover{
    opacity: 75%;
}

footer{
    position: fixed;
    bottom: .25rem;
    left: .25rem;
}
.err {
    color:var(--error-col);
    display: none;
    font-size: 1rem;
}

/* --MovieCard-- */
#movie-name{
    transition: all .35s ease-in-out;
    font-weight: bold;
    font-size: clamp(1rem, 1.75vw, 1.5rem);
    color: var(--mb-yellow-col);
}
.movie-card:hover #movie-name{
    color: var(--light-border-col);
}
#movie-info{
    font-style: italic;
    font-size: clamp(.5rem, 1.5vw, 1rem);
}
.movie-card{
    transition: all .35s ease-in-out;
    background: linear-gradient(var(--nav-background-col), rgb(0, 0, 0));
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .75rem;
    box-shadow: -.1rem .15rem .3rem rgba(0, 0, 0, 0.5);
}
#movie-card-a{
    text-decoration: none;
}
.movie-card:hover{
    box-shadow: -.1rem .15rem .7rem rgba(0, 0, 0, 0.75);
    scale: calc(1.05);
}
.movie-card figcaption{
    margin-top: .5rem;
    color: var(--light-font-col);
    width: 100%;
    padding: .25rem;
    background-color: rgba(250, 235, 215, 0.282);
}
.movie-card-cover-img{
    width: 80%;
    height: auto;
    border: solid .1rem rgba(0, 0, 0, 0.5);
    box-shadow: -.1rem .15rem .3rem rgba(0, 0, 0, 0.5);
}
/* --MovieCard End-- */

/* --MovieInfo --*/
#movieInfo-grid{
   
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
}
#selected-movie-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: -.1rem .1rem .1rem rgba(0, 0, 0, 0.49);
    border-right: solid .25rem black;
    border-top: solid .25rem black;
    padding: 1rem;
    border-radius: .5rem;
    background: var(--movies-backdrop-col);
}
#movieInfo-rent-a{
    transition: all .25s ease-in-out;
    border: .125rem solid var(--mb-yellow-col);
    padding:.5rem;
    margin: 0rem .25rem;
    text-decoration: none;
    color: var(--light-font-col);
    background: var(--dark-faded-font-col);
    box-shadow: -.1rem .1rem .25rem rgba(0, 0, 0, 0.49);
    font-size: clamp(1rem, 2vw, 2rem);
    text-decoration: none;
    justify-self: center;
    align-self: center;
}
#movieInfo-rent-a:hover{
    background: lime;
    opacity: 90%;
}
#movie-info-cover-img{
    width: 50%;
    height: auto;
    border: solid .1rem rgba(0, 0, 0, 0.5);
    box-shadow: -.1rem .15rem .3rem rgba(0, 0, 0, 0.5);
}
/* --MovieInfo end --*/



/* --Header-- */
header{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    background: var(--nav-background-col);
    box-shadow: 0rem .1rem .125rem var(--dark-faded-font-col);
}
#nav-bar{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    padding: .5rem;
}
#nav-bar h1{
    margin: 0;
    font-size: clamp(1rem, 3vw, 2rem);
    color: var(--mb-yellow-col);
    align-self: center;
}
#nav-links {
    display: flex;
    align-items: center;
}
#nav-links a{
    transition: all .25s ease-in-out;
    border: .125rem solid var(--mb-yellow-col);
    padding:.5rem;
    margin: 0rem .25rem;
    text-decoration: none;
    color: var(--light-font-col);
    background: var(--dark-faded-font-col);
    box-shadow: -.1rem .1rem .25rem rgba(0, 0, 0, 0.49);
    font-size: clamp(.5rem, 1.25vw, 1.25rem);
}
#nav-links a:hover{
    background: var(--page-background-col);
    color: black;
    opacity: 90%;
}
#nav-bar-logo-a:hover{
    opacity: 90%;
}
#nav-bar-logo-a{
    display:flex;/*this fits the logo inside the anchor tag*/
}
/* --Header End-- */

/* --Billing Form-- */
.container {
    background-color: var(--nav-background-col);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
}
.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    max-width: 13000px;
    margin: 40px auto;
    padding: 20px;
}
input[type="text"], input {
    width: 100%;
    padding: 15px;
    font-size: 1.2rem;
    border: none;
}
.billing-info {
    display: flex;
    gap: 15px;
    align-items: flex-end;
    flex-wrap: wrap;
}
#rented-movie {
    grid-row: span 4;
    background-color: var(--transparent-dark-bg-col);
    padding: 15px;
    min-height: 150px;
}

#billing-form input {
     box-shadow: 0rem .1rem .4rem rgba(0, 0, 0, 0.2);
}
/* --Billing form ends-- */

@media screen and (max-width:550px) {
    #rented-movie {
        grid-column: 1 / -1;
    }

    .form-grid {
        grid-template-columns:1fr 1fr;
    }
}

@media screen and (orientation: portrait){
    
    #hp-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }
    #movies-section{
        display: flex;
        flex-direction: column;
        grid-template-columns: auto;
        /* align-items: center;
        justify-items: center; */
        justify-items: stretch;
        align-items: stretch;
        row-gap: 1rem;
    }
}

@keyframes banner-anim {
    0%  { color: var(--nav-background-col); }
    40%   { color: var(--mb-yellow-col); }
    100%  { color: var(--nav-background-col); }
}

