:root{
    --page-background-col: whitesmoke;
    --transparent-dark-bg-col: rgba(0, 0, 0, 0.25);
    --nav-background-col:  rgb(49, 41, 37);
}
html{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background: var(--page-background-col);
}
body{
    margin: 0 auto;
}
body *{
    border-radius: .25rem;
}
header{
    position: sticky;
    top: 0;
}
#nav-bar{
    height: 8vh;
    display: flex;
    justify-content: space-between;
    background: var(--nav-background-col);
    padding: 1rem;
}
#hp-section{
    height: 94vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: center;
    justify-items: center;
    grid-template-areas:
    "logo au"
    "logo au"
    "fig fig";
}
#movies-section{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-items: center;
    gap: 1rem;
    padding: 1rem;
}
#about-us{
    grid-area: au;
}
#hp-logo-image{
    grid-area: logo; 
    width: 25vw;
    height: 50vh;
    background: blue;
}
#hp-arrow-fig{
    grid-area: fig;
    display: flex;
    width: 100%;
    justify-content: center;
    background: var(--transparent-dark-bg-col);
}
figcaption{
    justify-content: center;
    align-content: center;
    font-size: clamp(2rem, 3vw, 3rem);
}
#hp-arrow-fig:hover{
    opacity: 75%;
}

button:hover{
    opacity: 75%;
}