:root{
    --page-background-col: whitesmoke;
    --transparent-dark-bg-col: rgba(0, 0, 0, 0.25);
    --nav-background-col:  rgb(49, 41, 37);
    --light-font-col: rgba(56, 56, 56, 0.85);
}
html{
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    background: var(--page-background-col);
}
body{
    /* overflow-x: hidden; */
    margin: 0;
}
*{
    box-sizing: border-box;
    border-radius: .25rem;
}
header{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    background: var(--nav-background-col);
}
#nav-bar{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    padding: .5rem;
}
#hp-section{
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    grid-template-areas:
    "logo au"
    "fig fig";
}
#movies-section{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-items: center;
    gap: 1rem;
    padding: 1rem;
}
#about-us{
    grid-area: au;
    font-size: clamp(1rem, 2vw, 2rem);
    padding: .25rem;
    line-height: 1.5;
    font-style: italic;
    color: var(--light-font-col);
}
#hp-logo-image{
    grid-area: logo; 
}
#hp-arrow-fig{
    grid-area: fig;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
}
figcaption{
    justify-content: center;
    align-content: center;
    font-size: clamp(2rem, 3vw, 3rem);
}
button:hover{
    opacity: 75%;
}

footer{
    position: fixed;
    bottom: .25rem;
    left: .25rem;
}
@media screen and (orientation: portrait){
    
    #hp-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }
    #movies-section{
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        justify-items: center;
        gap: 1rem;
        padding: 1rem;
    }
    #hp-arrow-fig{
        margin-top: 4rem; /*might be problematic*/
    }
}