:root{
    --page-background-col: whitesmoke;
    --light-border-col: rgba(245, 245, 245, 0.85);
    --transparent-dark-bg-col: rgba(0, 0, 0, 0.25);
    --nav-background-col:  rgb(49, 41, 37);
    --dark-faded-font-col: rgba(56, 56, 56, 0.85);
    --light-font-col: rgba(255, 255, 255, 0.8);
    --error-col: darkred;

}

body {
    min-width:400px;
}
label {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}
html{
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    background: var(--page-background-col);
}
body{
    margin: 0;
}
*{
    box-sizing: border-box;
    border-radius: .25rem;
}
#hp-section{
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    grid-template-areas:
    "logo au"
    "fig fig";
}
#movies-section{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-items: center;
    gap: 1rem;
    padding: 1rem;
}
#about-us{
    grid-area: au;
    font-size: clamp(1rem, 2vw, 2rem);
    padding: .25rem;
    line-height: 1.5;
    font-style: italic;
    color: var(--dark-faded-font-col);
}
#hp-logo-image{
    grid-area: logo; 
}
#hp-arrow-fig{
    grid-area: fig;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
}
#hp-arrow-fig h2{
    justify-content: center;
    align-content: center;
    font-size: clamp(2rem, 3vw, 3rem);
}
button:hover{
    opacity: 75%;
}

footer{
    position: fixed;
    bottom: .25rem;
    left: .25rem;
}
.err {
    color:var(--error-col);
    display: none;
    font-size: 1rem;
}

/* --Header-- */
header{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    background: var(--nav-background-col);
    box-shadow: 0rem .1rem .125rem var(--dark-faded-font-col);
}
#nav-bar{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    padding: .5rem;
}
#nav-links {
    display: flex;
    align-items: center;
}
#nav-links a{
    border: .125rem solid var(--light-border-col);
    padding:.5rem;
    margin: 0rem .25rem;
    text-decoration: none;
    color: var(--light-font-col);
    background: var(--dark-faded-font-col);
    box-shadow: -.1rem .1rem .1rem black;
}
#nav-links a:hover , #nav-bar-logo-a:hover{
    opacity: 50%;
}
#nav-bar-logo-a{
    display:flex;/*this fits the logo inside the anchor tag*/
}
/* --Header End-- */

/* --Billing Form-- */
.container {
    background-color: var(--nav-background-col);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
}
.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    max-width: 13000px;
    margin: 40px auto;
    padding: 20px;
}
input[type="text"], input {
    width: 100%;
    padding: 15px;
    font-size: 1.2rem;
    border: none;
}
.billing-info {
    display: flex;
    gap: 15px;
    align-items: flex-end;
    flex-wrap: wrap;
}
#rented-movie {
    grid-row: span 4;
    background-color: var(--transparent-dark-bg-col);
    padding: 15px;
    min-height: 150px;
}
/* --Billing form ends-- */

@media screen and (max-width:550px) {
    #rented-movie {
        grid-column: 1 / -1;
    }

    .form-grid {
        grid-template-columns:1fr 1fr;
    }
}

@media screen and (orientation: portrait){
    
    #hp-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }
    #movies-section{
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        justify-items: center;
        gap: 1rem;
        padding: 1rem;
    }
    #hp-arrow-fig{
        margin-top: 4rem; /*might be problematic*/
    }
}